.productCard{
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    border: 1px solid #35B8BE26;
    height: 200px;
    width: 580px;

    .productPhoto{
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: 80%
        }
    }

    .infoProduct{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 15px;

        .cardFirstRow{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .productName{
                font-size: 18px;
                line-height: 20px;
                letter-spacing: 0.6px;
                color: #08090A;                                ;
            }

            .price{
                color: #35B8BE;
                margin-right: 20px;
            }
        }

        .productDescription{
            width: 80%;
            color: #546285;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.32px;
        }

        .productCardButtons{
            display: flex;
            flex-direction: row;

            .countButton{
                button {
                    background-color: #FAFAFA;
                    border: 1px solid #DDDDDD;
                    color: #000000;
                    height: 45px;
                    width: 60px;
                }
            }
            .addProductButton{
                button {
                    background-color: #35B8BE;
                    color: #FFFFFF;
                    height: 45px;
                    margin-left: 15px;
                }
            }
        }
    }
}
