@import 'variables.css';
@import 'components/header/header.css';
@import 'components/footer/footer.css';
@import 'pages/menu-page/menuPage.css';
@import 'components/product-card/productCard.css';
@import 'components/phone-number-tooltip/phoneNumberToolTip.css';


body{
  margin: 0;
  display: flex;
  width: 100vw;
  flex-direction: column;
  font-weight: 400;

  button {
    border-radius: 6px;
    border: 0;
    width: 147px;


  }
}