@import './assets/styles/variables.css';
@import './assets/styles/header.css';
@import './assets/styles/footer.css';
@import './assets/styles/menuPage.css';
@import './assets/styles/phoneNumberToolTip.css';


body{
  margin: 0;
  display: flex;
  width: 100vw;
  flex-direction: column;
  font-weight: 400;

  button {
    border-radius: 6px;
    border: 0;
    width: 147px;


  }
}